extends layout.jade

block content
    .container
        .row
            .col-md-4
                .card.mb-3
                    .card-header
                        strong Dernière session
                    .card-body
                        h6.text-center
                            i Résultats du #{lastSession.displayDate()}
                        .pivot.pivot-chart.chart-component.m-auto(
                            data-chart-no-title="true",
                            data-chart-height="250",
                            data-chart-margin-top="20"
                            data-chart-margin-left="40"
                            data-chart-margin-right="40"
                            data-chart-margin-bottom="100"
                            data-chart-endpoint="/api/stats/#{lastSession.sessionId}"
                            data-chart-rows="",
                            data-chart-cols="firstName",
                            data-chart-vals="result"
                            data-chart-col-order="value_z_to_a"
                            data-chart-label-suffix="&nbsp;€")
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5
                        .home-card-buttons
                            a.btn.btn-outline-primary(href="/sessions/#{lastSession.sessionId}") Détail de la session
                            a.btn.btn-primary(href="/sessions") Voir toutes les sessions
                            if isAdmin
                                a.btn.btn-primary(href="/sessions/add")
                                    i.material-icons add
                                    span Nouvelle session
            .col-md-4
                .card.mb-3
                    .card-header
                        strong Joueurs
                    .card-body
                        h6.text-center
                            i Participations pour la saison #{lastSession.season.name}
                        .pivot.pivot-chart.chart-component.m-auto(
                            data-chart-no-title="true",
                            data-chart-margin-left="80"
                            data-chart-margin-bottom="40"
                            data-chart-margin-right="40"
                            data-chart-endpoint="/api/stats/until/#{lastSession.sessionId}"
                            data-chart-rows="firstName",
                            data-chart-cols="",
                            data-chart-vals="result",
                            data-chart-horizontal="true",
                            data-chart-aggregator="Nombre")
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5
                        .home-card-buttons
                            a.btn.btn-primary(href="/players") Voir tous les joueurs
            .col-md-4
                .card.mb-3
                    .card-header
                        strong Statistiques
                    .card-body
                        h6.text-center
                            i Classement au #{lastSession.displayDate()}
                        .pivot.pivot-chart.chart-component.m-auto(
                            data-chart-no-title="true",
                            data-chart-margin-left="80"
                            data-chart-margin-bottom="40"
                            data-chart-margin-right="40"
                            data-chart-endpoint="/api/stats/until/#{lastSession.sessionId}"
                            data-chart-rows="firstName",
                            data-chart-cols="firstName",
                            data-chart-horizontal="true",
                            data-chart-vals="result"
                            data-chart-label-suffix="&nbsp;€")
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5
                        .home-card-buttons
                            a.btn.btn-primary(href="/stats") Voir toutes les statistiques