extends layout.jade

block content
    .container-lg#session-detail
        .row
            .col
                .top-links
                    a.btn.btn-outline-primary.btn-sm(href="/players") < Liste des joueurs
                .session-title.mb-4.mt-4
                    h2.lg-5 #{player.firstName}
                .row
                    .col-md-4.mb-3
                        .card
                            .card-header
                                strong Résultat net
                            .card-body.text-center
                                .result(class="#{player.getPlayerNetResult() > 0 ? 'positive-result' : 'negative-result'}")
                                    | #{player.getPlayerNetResult()} €
                        .card.mt-4
                            .card-header
                                strong Nombre de participations
                            .card-body.text-center
                                .result.neutral-result #{player.totalParticipations}
                        .card.mt-4
                            .card-header
                                strong Nombre de premières places
                            .card-body.text-center
                                .result.positive-result #{numberOfFirstPlace}
                        .card.mt-4
                            .card-header
                                strong Nombre de dernières places
                            .card-body.text-center
                                .result.negative-result #{numberOfLastPlace}
                    .col-md-8
                        .card-header
                            strong Classements en fin de session
                        .card-body
                            h6.text-center
                                i Nombre de fois où #{player.firstName} a terminé à la Nème place
                            .pivot.pivot-chart.chart-component.m-auto(
                                data-chart-no-title="true",
                                data-chart-margin-left="40"
                                data-chart-margin-bottom="40"
                                data-chart-margin-right="20"
                                data-chart-endpoint="/api/stats/player/#{player.playerId}/rankings"
                                data-chart-rows="",
                                data-chart-cols="rankingLabel",
                                data-chart-vals="sessionId",
                                data-chart-horizontal="false",
                                data-chart-aggregator="Nombre"
                                data-chart-row-order='key_a_to_z')
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5

                .row.mt-3
                    .col-md-12
                        .card-header
                            strong Evolution du résultat net total (par session)
                        .card-body
                            .pivot.pivot-chart.chart-component.m-auto(
                                data-chart-no-title="true",
                                data-chart-margin-left="40"
                                data-chart-margin-bottom="80"
                                data-chart-margin-right="20"
                                data-chart-endpoint="/api/stats/player/#{player.playerId}/sum"
                                data-chart-rows="",
                                data-chart-cols="sessionIndex",
                                data-chart-vals="cumulatedResult",
                                data-chart-horizontal="false",
                                data-chart-aggregator="Somme"
                                data-chart-show-ui="false"
                                data-chart-renderer="Line Chart"
                                data-chart-row-order='key_a_to_z'
                                data-chart-label-suffix='&nbsp;€')
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5

                .row.mt-3
                    .col-md-12
                        .card-header
                            strong Résultat par session
                        .card-body
                            .pivot.pivot-chart.chart-component.m-auto(
                                data-chart-no-title="true",
                                data-chart-margin-left="40"
                                data-chart-margin-bottom="80"
                                data-chart-margin-right="20"
                                data-chart-endpoint="/api/stats/player/#{player.playerId}/results"
                                data-chart-rows="",
                                data-chart-cols="sessionIndex",
                                data-chart-vals="result",
                                data-chart-horizontal="false",
                                data-chart-aggregator="Somme"
                                data-chart-show-ui="false"
                                data-chart-renderer="Bar Chart"
                                data-chart-row-order='key_a_to_z'
                                data-chart-label-suffix='&nbsp;€'
                                data-chart-hide-labels='true')
                                .spinner
                                    .rect1
                                    .rect2
                                    .rect3
                                    .rect4
                                    .rect5