extends layout.jade

block content
    .container
        .row
            .col.mb-4
                h1 #{players.size()} joueurs
        .row
                if players.size() > 0
                    each player in players
                        .col-lg-3.col-md-4.col-sm-6.col-12
                            .card.mb-3
                                .card-header.small
                                    strong #{player.firstName}
                                .card-body
                                    if player.playerResults.size() > 1
                                        .badge.badge-primary.mr-2 #{player.playerResults.size()} sessions
                                    else
                                        .badge.badge-primary.mr-2 #{player.playerResults.size()} session
                                    .badge.badge-secondary(class="#{player.getPlayerNetResult() > 0 ? 'positive-result' : 'negative-result'}")
                                        | #{player.getPlayerNetResult()} €
                                    .mt-3.d-flex.justify-content-end
                                        a.btn.btn-sm.btn-outline-primary(href='/players/#{player.playerId}') Détail
        if isAdmin
            .row
                .col-md-6
                    .card
                        h5.card-header Ajouter un joueur
                        .card-body
                            form(action="/players", method="post")
                                .form-group
                                    label(for='firstName') Prénom
                                    input#firstName.form-control(type='text', name="firstName")
                                .form-group
                                    label(for='lastName') Nom
                                    input#lastName.form-control(type='text', name="lastName")
                                input#csrf.form-control(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                                button.btn.btn-primary(type='submit') Enregistrer
