extends layout.jade

block content
    .container
        .row
            .col
                ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                    each season, index in seasons
                        li.nav-item
                            if index == 0
                                a.nav-link.active(id="#pills-#{season.name}-tab", data-toggle='pill' href='#pills-#{season.name}' role='tab' aria-controls='pills-#{season.name}' aria-selected='true') #{season.name}
                            else
                                a.nav-link(id="#pills-#{season.name}-tab", data-toggle='pill' href='#pills-#{season.name}' role='tab' aria-controls='pills-#{season.name}' aria-selected='true') #{season.name}
        .row
            .col
                #pills-tabContent.tab-content
                    each season, index in seasons
                        .tab-pane.fade.show(id='pills-#{season.name}', class='#{index == 0 ? "active" : ""}', role='tabpanel', aria-labelledby='pills-#{season.name}-tab')
                            .row
                                if sessions[season.seasonId] != null
                                    each session in sessions[season.seasonId]
                                        .col-lg-3.col-md-4.col-sm-6.col-12
                                            .card.mb-3
                                                .card-header.small
                                                    strong #{session.displayDate()}
                                                .card-body
                                                    p
                                                        .badge.badge-info #{session.playerResults.size()} joueurs
                                                        .badge.badge-success #{session.bestResult.player.firstName} (#{session.bestResult.result} €)
                                                        .badge.badge-danger #{session.worstResult.player.firstName} (#{session.worstResult.result} €)
                                                        .badge.badge-info Chez #{session.place.name}
                                                    a.btn.btn-outline-primary(href='/sessions/#{session.sessionId}') Détail
        if isAdmin
            .row
                .col
                    a.btn.btn-outline-primary.mt-3(href="/sessions/add") Ajouter une session
